
<div class="container">
	  <div class="row" id="pwd-container">
	    <div class="col-md-4"></div>
	    <div class="col-md-4">
	      	<section class="col-md-12 col-sm-12">
	          	<form class="login-form">
	          		<img src="assets/images/mr-postman-main.png" class="img-responsive" alt="" />
				  	<div class="form-group">
				    	<label for="exampleInputEmail1">Email address</label>
				    	<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
				  	</div>
				 	<div class="form-group">
				    	<label for="exampleInputPassword1">Password</label>
				    	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				  	</div>
				  	<div class="checkbox">
				    	<label>
				      		<input type="checkbox"> Remember me
				    	</label>
				  	</div>
				  	<div class="row">
					  	<div class="col-sm-12">
					    	<a>Forgot your password?</a>
				  		</div>
				  	</div>
				  	<div class="row">
					  <div class="col-sm-12">
					      <div class="pull-right">
				  			<button type="submit" class="btn btn-primary">Submit</button>
					      </div>
					  </div>
					</div>
				</form>
	      	</section>  
	    </div>
	    <div class="col-md-4"></div>
	</div>
</div>
{{outlet}}
